
.heading {

    font-weight: normal;

    font-size: xx-large;

    color: #08999e;

    padding-top: 1.5rem;

}

.heading-top {

    color: #08999e;

    font-weight: 500;

}



.desc {

    /*font-size: 14px*/

    color: #ffffff;

    font-weight: 400;

}



#progressbar {

    /*margin-bottom: 30px;*/

    /*overflow: hidden;*/

    color: #f0f0f0;

    padding-left: 0px;

}



#progressbar .active {

    /*color: #673AB7*/

    color: #ffffff;

}



#progressbar li {

    list-style-type: none;

    font-size: 15px;

    width: 25%;

    float: left;

    position: relative;

    font-weight: 400;

}



#progressbar .step0:before {

    font-family: FontAwesome;

    /*content: "\f00c";*/

    content: "";

    padding-top: 0.2rem;

    /*font-size: x-large;*/

}

.icon-info {

    background-image: url(../img/info-circle-icon.svg);

    display: inline-block;

    width: 20px;

    height: 20px;

    background-repeat: no-repeat;

    margin: -5px 0;

}

.btn-warning:hover {

    color: #ffffff;

    background-color: #facd65;

}

/*#progressbar .step1:before {*/

/*    content: "2";*/

/*    padding-top: 0.5rem;*/

/*    font-size: x-large;*/

/*}*/

/*#progressbar .step2:before {*/

/*    content: "3";*/

/*    padding-top: 0.5rem;*/

/*    font-size: x-large;*/

/*}*/

/*#progressbar .step3:before {*/

/*    content: "4";*/

/*    padding-top: 0.5rem;*/

/*    font-size: x-large;*/

/*}*/



#progressbar li:before {

    width: 40px;

    height: 40px;

    line-height: 25px;

    display: block;

    font-size: 15px;

    background: #CDCDCD;

    border: 3px solid #CDCDCD;

    border-radius: 50%;

    box-shadow: 0 0 0 4px rgb(205 205 205 / 25%);

    margin: 0 0 0 auto;

    /*padding: 2px*/

}



#progressbar li:after {

    content: '';

    width: 100%;

    height: 5px;

    background: #f0f0f0;

    position: absolute;

    left: 0;

    top: 16px;

    z-index: -1;

}



#progressbar li:last-child:after {

    border-top-right-radius: 10px;

    border-bottom-right-radius: 10px

}



#progressbar li:first-child:after {

    border-top-left-radius: 10px;

    border-bottom-left-radius: 10px

}



#progressbar li.active:before,

#progressbar li.active:after {

    background: #F9A825;

    border: 2px solid #ffba4a;

}



.sub-heading {

    font-weight: unset;

    /*color: #08999e;*/

    color: #060606;

    margin: 1.5rem 0;

    /* font-size: 2.5rem; */

    text-align: center;

}

.text-danger {

    color: #FF7700 !important;

}

label{

    text-transform: uppercase;

    font-size: 0.875rem;

}



.form-control {

    display: block;

    width: 100%;

    padding: 0.813rem 1.25rem;

    font-size: 1rem;

    font-weight: 400;

    line-height: 1.3;

    color: #495057;

    background-color: #FFFFFF;

    background-clip: padding-box;

    border: 1px solid #e9ecef;

    border-radius: 0.5rem;

    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

.form-control {

    border-color: #9b9b9b;

    color: #2E2E2E;

}

.yellow-text {

    /*color: #F9A825*/

    color: #ffffff;

}



fieldset.show {

    display: block

}



fieldset {

    display: none

}

.radio-group1 ,

.radio-group2{

    text-align: center;

    justify-content: center;

}

.radio {

    display: inline-block;

    border-radius: 0;

    box-sizing: border-box;

    /*cursor: pointer;*/

    color: #BDBDBD;

    font-weight: 500;

    -webkit-filter: grayscale(100%);

    -moz-filter: grayscale(100%);

    -o-filter: grayscale(100%);

    -ms-filter: grayscale(100%);

    filter: grayscale(100%)

}



.radio:hover {

    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1)

}



.radio.selected {

    border: 1px solid #F9A825;

    box-shadow: 0px 8px 16px 0px #EEEEEE;

    color: #29B6F6 !important;

    -webkit-filter: grayscale(0%);

    -moz-filter: grayscale(0%);

    -o-filter: grayscale(0%);

    -ms-filter: grayscale(0%);

    filter: grayscale(0%)

}

.radio.selected p{

    color: #F9A825 !important;

}

.card-block {

    border: 1px solid #CFD8DC;

    width: 100%;

    margin: 2.5%;

    /*padding: 20px 25px 15px 25px

    padding: 15px 15px 15px 15px;*/

}





.icon {

    width: 65px;

    height: 100px

}



.image-icon {

    width: 85px;

    height: 100px;

    margin-left: auto;

    margin-right: auto;

    margin-top: 20px;
    margin-bottom: 20px

}



select,

input,

textarea,

button {

    padding: 8px 15px 8px 15px;

    border-radius: 0px;

    margin-bottom: 25px;

    margin-top: 2px;

    width: 100%;

    box-sizing: border-box;

    color: #2C3E50;

    background-color: #ECEFF1;

    border: 1px solid #ccc;

    font-size: 16px;

    letter-spacing: 1px

}



select:focus,

input:focus,

textarea:focus {

    -moz-box-shadow: none !important;

    -webkit-box-shadow: none !important;

    box-shadow: none !important;

    border: 1px solid skyblue !important;

    outline-width: 0

}



button:focus {

    -moz-box-shadow: none !important;

    -webkit-box-shadow: none !important;

    box-shadow: none !important;

    outline-width: 0

}



textarea {

    height: 100px

}



button {

    width: 245px;

    letter-spacing: 2px

}



/*.fit-image {*/

/*    width: 100%;*/

/*    object-fit: cover*/

/*}*/



.btn-block {

    border-radius: 5px;

    height: 50px;

    font-weight: 500;

    cursor: pointer

}



.fa-long-arrow-right {

    /*float: right;*/

    /*margin-top: 4px*/

    background-color: #ffc76d;

    padding: 0.7rem;

    border-radius: 50%;

    margin-left: 2rem;

}

#next2 , .final_step , .btn{

    text-align: end;

}

.btn{

    padding: 1px;

}

.fa-long-arrow-left {

    float: left;

    margin-top: 4px

}

.display-block{

    display: none;

}

.end{

    text-align: end;

}

.p-m-l{

    /*margin-left: 3rem!important;*/

    /*padding-left: 3rem!important;*/

    background: #f8ba27;

    /*padding: 1rem 0;*/

}

.m-top{

    margin-top: 2rem;

}

.header {

    padding: 1rem 5rem 1rem 5rem;

    background-color: #fff;

    box-shadow: 4px 6px 36px rgb(0 0 0 / 8%);

}

.fixed-top {

    position: fixed;

    top: 0;

    right: 0;

    left: 0;

    z-index: 1030;

}

.justify-content-between {

    -ms-flex-pack: justify !important;

    justify-content: space-between !important;

}

.logo__image {

    background-position: center center;

    background-repeat: no-repeat;

    background-size: contain;

    width: 261.6px;

    height: 40px;

}

.button--arrow-right1{

    padding: 1rem 1rem;

}

.button, .button--arrow-right1, .button--arrow-right{

    /*width: 100%;*/

    height: 3rem;

    /*color: #000000;*/

    border: 1px solid #f8ba27;

    border-radius: 0.75rem;

    /* background-color: #ff7700; */

    cursor: pointer;

}

 .button--arrow-right.button--small{

     height: 3.3rem;

     padding-left: 0.75rem;

    border-radius: 1.75rem;

    line-height: 17px;

}

a.button, a.button--arrow-right1, button.button--arrow-right {

    /*font-family: Point;*/

    font-size: 16px;

    font-weight: bold;

    display: -ms-flexbox;

    display: flex;

    -ms-flex-align: center;

    align-items: center;

    -ms-flex-pack: center;

    justify-content: end;

    text-decoration: none;

    /*color: #fff;*/

}

.button--arrow-right.button--small:after, .button--small.button--arrow-right--white:after, .button--small.button--arrow-right--orange:after, .button--small.button--arrow-left:after, .button--small.button--arrow-left:before {

    width: 3rem;

    height: 3rem;

    margin-left: 1.5rem;

}

.button--arrow-right:after, .button--arrow-right--white:after, .button--arrow-right--orange:after, .button--arrow-left:after, .button--arrow-left:before {

    display: block;

    width: 5rem;

    height: 4rem;

    margin: 0.25rem 0rem 0.25rem 0;

    /*padding-left: 4.5rem;*/

    content: " ";

    background-image: url(../img/arrow-right.svg);

    background-repeat: no-repeat;

    background-position: center right;

    background-size: contain;

}

.roof{

    text-align: center;

    justify-content: center;

}

.row{

    margin: auto ;

}

.wrap{

    margin: 2rem 0;

}

.overlay {

    position: fixed;

    top: 0;

    bottom: 0;

    left: 0;

    right: 0;

    background: rgba(0, 0, 0, 0.7);

    transition: opacity 0.5s;

    visibility: hidden;

    opacity: 0;

}

.overlay:target {

    visibility: visible;

    opacity: 1;

}

.popup {

    margin: 70px auto;

    padding: 20px;

    background: #fff;

    border-radius: 5px;

    width: 30%;

    position: relative;

    transition: all 0.5s ease-in-out;

}

.popup h2 {

    margin: 10px;

    margin-top: 0;

    color: #333;

    font-family: Tahoma, Arial, sans-serif;

    font-size: 16px;

}

.popup .close {

    position: absolute;

    top: 20px;

    right: 30px;

    transition: all 200ms;

    font-size: 30px;

    font-weight: bold;

    text-decoration: none;

    color: #333;

}

.popup .close:hover {

    color: #06D85F;

}

.popup .content {

    max-height: 30%;

    overflow: auto;

}

hr{

    border-top: 1px solid rgb(254 224 4);

    width: 100%;

}

.h6-style h6{

    background-color: #fec007;

    padding: 1.5rem 3rem;

    width: fit-content;

    margin: 1rem 0;

    color: #ffffff;

    font-size: x-large;

}

/*.swal2-container.swal2-center>.swal2-popup{*/

/*    width: fit-content;*/

/*}*/

@media screen and (max-width: 700px){

    /*.box{*/

    /*    width: 70%;*/

    /*}*/

    .popup{

        width: 70%;

    }

}

    @media screen and (min-width: 1046px) {

        .d-custom-block {

            display: block !important;

        }

    }



/*--------------------------------------------------------------

#  mobile devices

--------------------------------------------------------------*/

@media screen and (max-width: 768px) {

    .display-non {

        display: none;

    }
    h3 {
        font-size: 1.65rem;
    }
    .display-block {

        display: block;

        text-align: center;

        margin-top: 2rem;

    }

    .card{

        padding: 3rem;

    }

    /*.card-block{*/

    /*    width: auto;*/

    /*}*/

    .radio-group2 .card-block{

        width: auto;

        height: auto !important;

    }

    .step-heading.active{

        text-align: center;

    }

    #step_counter{

        margin: auto auto 3rem;

    }

    .radio-group {

        width: auto !important;

    }

    .end , .center-btn{

        text-align: center;

    }

    .justify-content-between{

        justify-content: center !important;

    }

    .sub-heading{

        font-size: larger;

    }

    .wrap {

        margin: 1rem 0;

    }

    .row {

        margin: 0 -15px;

    }

    .radio-group__option:checked + label{

        padding: 0 !important;

    }

    .card-block {

        /*padding: 20px 20px 0px 20px;*/

        /*width: fit-content;*/

        padding: 0;

        /*height: 0;*/

    }

    .radio-group3 .col-2{

        padding: 0;

    }

    .radio-group3 p{

        margin-top: 1rem;

    }

    .button--arrow-right.button--small:after, .button--small.button--arrow-right--white:after, .button--small.button--arrow-right--orange:after, .button--small.button--arrow-left:after, .button--small.button--arrow-left:before{

        margin-left: 0;

    }

    .modal-footer{

        justify-content: center;

    }

    .icon{

        padding: 10px;

    }

    .list__item .label{

        padding: 0.75rem 1rem;

    }

    .radio-group1{

        margin: 1rem 0 !important;

    }

    .radio-group1 .card-block {

        height: 176px;

    }

    .h6-style h6{

        text-align: center;

        width: 100%;

    }

}

