@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

h1 {
    font-family: "Open Sans", sans;
    font-weight: 300;
    /*text-align: center;*/
    /*color: rgba(255, 255, 255, 0.5);*/
    /*margin-top: 10%;*/
}
ul{
    list-style: none;
}
/*.wrap {*/
/*  margin: 5% 20px 20px -125px;*/
/*  overflow: hidden;*/
/*  position: absolute;*/
/*  left: 50%;*/
/*  top: 20%;*/
/*}*/
.depth_roof_clik p , p.sub-desc{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.step-num{
    border: 1px solid;
    color: #fff;
    border-radius: 50%;
    padding: 1.3rem 1.8rem ;
    background-color: #F9A825;
    font-size: xx-large;
}
.form-control{
    border-radius: 0.75rem;
}
#next2 , #make_appointment , #next1 , .num-person-btn , .final_step_appointment ,.btn{
    /*background: linear-gradient(60deg, #cb943b, #f5a625);*/
    /*border: 3px solid #f5a625;*/
    background: linear-gradient(60deg, #fab70e, #f6ad16);
    border: 3px solid #fab70e;
    border-radius: 30px;
}
.radio-group {
    width: 250px;
    display: table;
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: separate;
    margin: auto;
}

.radio-group__label {
    display: table-cell;
    height: 65px;
    padding: 6px;
    vertical-align: middle;
    text-align: center;
    position: relative;
    border: 0px solid #4F5167;
    border-style: solid none solid solid;
    border-radius: 5px 0 0 5px;
    color: #4F5167;
    -moz-transition: border 250ms, color 250ms;
    -o-transition: border 250ms, color 250ms;
    -webkit-transition: border 250ms, color 250ms;
    transition: border 250ms, color 250ms;
    cursor: pointer;
    width: inherit;
}

.radio-group__label + input + .radio-group__label {
    border-radius: 0 5px 5px 0;
    border-style: solid solid solid none;
    /*background-color: #f5a625;*/
    background: linear-gradient(60deg, #bbabab7a, #bbabab99);
    color: #ffff;
}

.radio-group__label + input + .radio-group__label:before {
    content: " ";
    display: block;
    position: absolute;
    top: -1px;
    width: 100%;
    height: 100%;
    border: 5px solid #f5a625;
    border-radius: 5px 0 0 5px;
    transform: translate3d(-103%, 0, 0);
    transition: all 250ms;
}

.radio-group__label + input:checked + .radio-group__label:before {
    border-radius: 0 5px 5px 0;
    transform: translate3d(-6px, 0, 0);
}

.radio-group__option:checked + label {
    /*color: #f5a625;*/
    color: #ffffff;
    padding: 6px;
    background-color: #f5a625;
}

.radio-group__option {
    display: none;
}

.list {
    flex: 0 0 20rem;
    padding: 0;
    text-align: center;
}

.list__item {
    position: relative;
    display: inline-block;
}
.list__item:hover > .label {
    color: #08999e;
}
.list__item:hover > .label::before {
    border: 0.5rem solid #08999e;
    margin-right: 2rem;
}

.radio-btn {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}
.radio-btn:checked + .label {
    color: white;
    background: #e7a02d;
}
.radio-btn:checked + .label::before {
    margin-right: 2rem;
    border: 0.5rem solid #ffff;
    background: #e7a02d;
}

.label {
    display: flex;
    align-items: center;
    padding: 0.6rem 1.4rem;
    color: #4f7787;
    font-size: 1.25rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.25s linear;
    border: 2px solid #d2d2d2;
    border-radius: 0.5rem;
}

.label::before {
    display: inline-block;
    content: "";
    height: 2.125rem;
    width: 2.125rem;
    margin-right: 0.625rem;
    border: 0.5rem solid #4f7787;
    border-radius: 50%;
    transition: all 0.25s linear;
}
/*//// slider range ////*/

.box-minmax {
    margin-top: 30px;
    width: 608px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: #ffffff;
}
.box-minmax span:first-child {
    margin-left: 10px;
}

.range-slider {
    margin-top: 30vh;
}

.rs-range {
    margin-top: 29px;
    width: 600px;
    -webkit-appearance: none;
}
.rs-range:focus {
    outline: none;
}
.rs-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    box-shadow: none;
    background: #ffffff;
    border-radius: 0px;
    border: 0px solid #010101;
}
.rs-range::-moz-range-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    box-shadow: none;
    background: #ffffff;
    border-radius: 0px;
    border: 0px solid #010101;
}
.rs-range::-webkit-slider-thumb {
    box-shadow: none;
    border: 0px solid #ffffff;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    height: 42px;
    width: 22px;
    border-radius: 22px;
    background: white;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -20px;
}
.rs-range::-moz-range-thumb {
    box-shadow: none;
    border: 0px solid #ffffff;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    height: 42px;
    width: 22px;
    border-radius: 22px;
    background: white;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -20px;
}
.rs-range::-moz-focus-outer {
    border: 0;
}

.rs-label {
    position: relative;
    transform-origin: center center;
    display: block;
    width: 98px;
    height: 98px;
    background: transparent;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    padding-top: 22px;
    box-sizing: border-box;
    border: 2px solid #fff;
    margin-top: 20px;
    margin-left: -38px;
    left: attr(value);
    color: #fff;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 36px;
}
.rs-label::after {
    content: "kg";
    display: block;
    font-size: 20px;
    letter-spacing: 0.07em;
    margin-top: -2px;
}
.step-heading{
    display: none;
}
.step-heading.active{
    display: block;
}
#step_counter{
    color:#fff;
    background-color:#F9A825;
    padding-top: 0.5rem;
    font-size: x-large;
    width: 4rem;
    height: 4rem;
    line-height: 45px;
    display: block;
    border-radius: 50%;
    margin-bottom: 3rem;
    text-align: center;
    box-shadow: 0px 2px 14px 1px #f9d525;
}
.save_next_button , .btn{
    float: right;
}
/*--------------------------------------------------------------
#  mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    .list__item{
        display: block;
    }
}
.group-button ,.company-button{
    background: linear-gradient(60deg, #bbabab7a, #bbabab99);
    border: #bdb5b5 solid 2px;
}
.group-button.selected {
    border: #F9A825 solid 2px;
    background: #ffc107;
    /*color: #F9A825 !important;*/
}
.company-button.selected {
    border: #F9A825 solid 2px;
    background: #ffc107;
    /*color: #F9A825 !important;*/
}

#loading{
    width: 100vw;
    height: 100vh;
    z-index: 99999999999;
    top: 30;
    right: 0;
    /*background: #fff;*/
    position: fixed;
    display: none;
    padding-top: 8rem;
}

.model_btn{
    /*border: 5px solid #bbabab99;*/
    background: linear-gradient(60deg, #bbabab7a, #bbabab99);
    color: #ffff;
    padding: 6px;
    transition: all 250ms;
}
.model_btn.selected{
    border: 5px solid #f5a625;
    color: #ffffff;
    background-color: #f5a625;
}
