thead tr th:after, thead tr th:before {
    display: none!important;
}
table.table.dataTable.no-footer.fixedHeader-floating {
    margin-top: 0px!important;
}
thead {
    background: #fff;
}
table.dataTable thead .sorting{
    background-image: unset;
}
table.dataTable thead .sorting_asc{
    background-image: unset!important;
}
.page-item.active .page-link {
    z-index: 1;
    color: #ffffff;
    background-color: #389E29;
    border-color: #389E29;
    border-radius: 5px;
    margin: 0 10px;
}
.page-link {
    color: #389E29;
}
.page-link:hover {
    color: #1b6710;
    text-decoration: none;
    background-color: #FFE8C7;
    border-color: #FFE8C7;
    border-radius: 5px;
}

.sidebar .sidebar-wrapper {
    height: calc(100vh - 145px);
}

.company_info{
    padding:0 30px
}

.sidebar .logo .simple-text{line-height: 1.2;}
.sidebar .nav {margin-top: 10px;display: block;}

.form-control{
    box-shadow: none;
}
.footer-logo{
    width: 80%;
}

.sidebar .nav li.active > a, .sidebar .nav li.active > a i {
    color: #112944;
    font-weight: 900;
}
.sidebar[data-color=orange] li.active > a {
    background-color: #1b6710;
    color:#fff;
    box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(210 193 138 / 40%);
}
.sidebar .nav li.active > a, .sidebar .nav li.active > a i {
    color: #fff;
    font-weight: 900;
}
